<mat-toolbar style="height: 100px;" color="primary" role="heading" >
  <button mat-button style="font-size:50px;" class="title" routerLink="" >Mental Help</button>
  <span class="example-spacer"></span>
  <button style="width: 13%;height: 50%;" mat-button routerLink="my-profile" >
    <mat-icon class="btn-toolbar" >face</mat-icon>
  </button>
</mat-toolbar>
<mat-toolbar style="height: 90px">
  <span style="margin-left:3%"></span>
  <button mat-button class="second-toolbar">За Нас</button>
  <span class="spacer"></span>
  <button  mat-button [matMenuTriggerFor]="motivacija" class="second-toolbar" > Мотивирачки пораки</button>
  <mat-menu #motivacija="matMenu">
    <button mat-menu-item routerLink="/citati">
      <mat-icon>format_quote</mat-icon>
      <span style="font-size:25px">Цитати</span>
    </button>
    <button mat-menu-item routerLink="/prikazni" >
      <mat-icon>auto_stories</mat-icon>
      <span style="font-size:25px">Приказни</span>
    </button>
  </mat-menu>
  <span class="spacer"></span>
  <button mat-button routerLink=""  class="second-toolbar">Тестови</button>
  <span class="spacer"></span>
  <button mat-button class="second-toolbar">Професионална Помош</button>
  <span class="spacer"></span>
  <button mat-button class="second-toolbar">Музика</button>
  <span class="example-spacer"></span>
  <button mat-button ><mat-icon>skip_previous</mat-icon></button>
  <button mat-button (click)="click_play()" ><mat-icon>{{play_text}}</mat-icon></button>
  <button mat-button ><mat-icon>skip_next</mat-icon></button>
</mat-toolbar>

