.example-spacer {
  flex: 1 1 auto;
}
.title{
  width: 30px;
}
.btn-toolbar{
  font-size: 50px;
  position: relative;
  left: -9px;
  bottom: 10px ;
}
.second-toolbar{
  font-size: 20px;
  height: 50%;
}
.spacer{
  margin-right: 3%;
  margin-left: 3%;
}
.start-test{
  width: 100% !important;
}
