<mat-card style="margin:2%" >
  <mat-card-header style="background-color:#673ab7">
    <mat-card-title style="font-size:30px;margin-top: 15%;margin-bottom:15%; color: white">
      Цитати
    </mat-card-title>
  </mat-card-header>
  <mat-card-content style="margin: 1%;font-size:25px" >
    <h1 style="font-size:25px">
      1. Нека твојата верба биде посилна од твојот страв!
    </h1>
    <h1 style="font-size:25px">
      2. Не задоволувај се со тоа што си, стреми се кон тоа што можеш да бидеш!
    </h1>
    <h1 style="font-size:25px">
      3. Не плаши се да бидеш поинаков!
    </h1>
    <h1 style="font-size:25px">
      4. Вљуби се кога ќе си подготвен/на, не кога си осамен/на.
    </h1>
    <h1 style="font-size:25px">
      5. Секој ден кажувај нешто убаво!
    </h1>
    <h1 style="font-size:25px">
      6. Животот да беше лесен, немаше да постојат авантури!
    </h1>
  </mat-card-content>
  <mat-card-actions>
   </mat-card-actions>
</mat-card>
